extends baseEmail

block content
  h2 Password Reset
  p Hi #{firstName},
  p You requested a password reset. Click the button below to set a new password. This link is valid for 10 minutes.
  a.btn(href=url) Reset Password
  p If you didn't request this, please ignore this email. Your password will remain unchanged.
  p — The YatraKaro Team
